body {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 20px;
}
.splash {
  padding: 9em 0 2em;
  background-color: #141d27;
  background-image: url(bg-holz.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #357;
  text-align: center;
}
.splash h1 {
  color: #008cba;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.splash h3 {
  color: #555;
}
.main img.hanging {
  float: right;
  padding-left: 20px;
  max-width:25%;
}

.separator {
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
    text-align: center;
    font-style: italic;
    color: #999;
    padding-bottom: 0.5em;
    display: none;
}

#detail-datalets {
	padding: 1em; margin: 1em;
	font-size: 140%;
}

#buttons .btn {
/*	background: #ccc;
	border: none; */
    background: #999;
    border: 1px double white;
    box-shadow: 0px 0px 3px black;
    border-radius: 6px;

    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}
#buttons .btn:hover { background: #69B1A9; }

.nl-submit {
	font-size:9pt !important;
}
.nl-submit:hover { background: #69B1A9; }

.feedEkList{width:auto; list-style:none outside none;background-color:#FFFFFF; padding:4px 6px; color:#3E3E3E;}
.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px;}
.feedEkList li:last-child{border-bottom:none;}
.itemTitle a{font-weight:bold; color:#4EBAFF !important; text-decoration:none }
.itemTitle a:hover{ text-decoration:underline }
.itemDate{font-size:11px;color:#AAAAAA;}

.slick-prev:before,.slick-next:before { color:black; }

.footer {
  color: #999;
  text-align: center;
  margin: 1em;
  font-size: 80%;
}

@media (max-width: 1199px) {
  #gitGraph { display: none; }
  .separator { display: block; }
  .gitgraph-detail {
    position: initial !important;
    left: inherit !important;
    top: inherit !important;
    padding: 0px !important;
    width: inherit !important;
    display: block !important;
    margin-bottom: 1em;
  }
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */
.triangle-isosceles {
  display:inline-block; width:auto;
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  font-size: 70%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  background:#76d3cD; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#69B1A9), to(#76d3cD));
  background:-moz-linear-gradient(#69B1A9, #76d3cD);
  background:-o-linear-gradient(#69B1A9, #76d3cD);
  background:linear-gradient(#69B1A9, #76d3cD);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-isosceles:after {
  content:"";
  position:absolute;
    top:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#69B1A9 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.well { background: none; border: none; }
.project-img {
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	width: 100%; max-width: 400px;
	height: 230px;
	display: block;
}

#references a img { margin-bottom: 1em; }
#references tt { display: block; }
#references tt span:hover { color: #000; cursor: pointer; }
#references tt span {
	text-transform: uppercase;
	font-size: 80%; padding: 0.2em 0.5em;
	background: #eee; color: #999;
	display: inline-block;
}

#partners img { height: 64px; }

.hero {
	/* background:url(2.0/dataletsch.jpg) no-repeat top; */
	background-size: 100% auto;
	height: auto; width: 100%;
	padding: 0px; margin: 0px;
}
.hero p { margin-top: 2em; margin-bottom: 2em; }
.detail-box {
	margin-top: 8%; background: #fff; padding: 0.25em 1em;
}
@media (min-width: 1024px) {
	.detail-box { font-size: 160%; }
}
.grey { color: #aaa; }

.header-logo {
  width:25%; float:left; padding:3%;
}
@media (max-width: 800px) {
	.header-logo {
	  width:100%; float: none; padding: 0px;
	}
}

#logos { text-align:center; margin:2em 0; }
#logos a { width: 11%; display: inline-block; text-align: center; }
#logos img { height: 64px; }

.github-widget { max-width: 100%;overflow: hidden; }
.donate-image img { max-width: 100%; }

blink {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
